/* *
 * PX TO REM CALCULATOR
 */
@function parseInt($n) {
	@return $n / ($n * 0 + 1);
}

@function rem($values) {
	$list: ();

	@each $value in $values {
		@if $value != 0 and type_of($value) == "number" {
			$unit: unit($value);
			$val: parseInt($value);

			@if $unit == "px" or $unit == "" {
				$list: append($list, ($val / $px-root) + rem);
			} @else {
				$list: append($list, $val + unquote($unit));
			}
		} @else {
			$list: append($list, $value);
		}
	}
	@return $list;
}

// Return z-index of element from list, return null if there is no element
@function z-index($list, $element) {
	$z-index: index($list, $element);

	@if $z-index {
		@return $z-index;
	}

	@return null;
}

/* *
 * MEDIA QUERIES FOR DEVICES
 */
@mixin mobile-up {
	@media only screen and (min-width: #{$rwd-break-medium-device + 1}) {
		@content;
	}
}
@mixin tablet-up {
	@media only screen and (min-width: #{$rwd-break-standard-device + 1}) {
		@content;
	}
}

@mixin device($devices) {
	@each $device in $devices {
		@if $device == "mobile-up" {
			@include mobile-up {
				@content;
			}
		}

		@if $device == "tablet-up" {
			@include tablet-up {
				@content;
			}
		}
	}
}

/* *
 * GRID
 */
@for $i from 1 through 24 {
	$width: $i / $grid-columns * 100%;

	.col-#{$i} {
		min-width: 100%;
		max-width: 100%;

		@include device((mobile-up)) {
			min-width: $width;
			max-width: $width;
		}
	}
}
