/* *
* ROOT FONT SIZE
*/
$px-root: 16;

/* *
* FONT WEIGHT
*/
$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$font-extra-bold: 800;
$font-black: 900;

/* *
* FONT FAMILY
*/
$font-roboto: "Roboto", sans-serif;
$font-roboto-condensed: "Roboto Condensed", sans-serif;

/* *
* COLORS
*/
$white: #fff;
$black: #000;
$green-dark: #3cc195;
$gray-light: #f4f5f7;
$ash: #263749;
$ash-light: #354759;
$ash-dark: #202a38;
$blue-light: #08aed7;
$gallery: #eeeeee;
$red: #f94c4c;
$yellow: #fff047;

/* *
* SHADOWS
*/

/* *
* TRANSITION:
*/

/* *
* BORDERS:
*/
$border: 1px solid #ccc;

/* *
* RWD
*/
$rwd-break-standard-device: 768px;
$rwd-break-medium-device: 500px;

$grid-columns: 24;
$grid-padding: 20px;
$grid-padding-tablet: 25px;
