*,
::after,
::before {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: $font-roboto;
	margin: 0;
	color: $white;
	text-shadow: rem(1 1 1) $ash-dark;
	letter-spacing: rem(0.8);
}
