@keyframes lds-double-ring {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes lds-double-ring_reverse {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}

.lds-double-ring {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba($ash-dark, 0.75);
}

.lds-double-ring div {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 4px solid $white;
	border-color: $green-dark transparent $green-dark transparent;

	animation: lds-double-ring 1.6s linear infinite;
}

.lds-double-ring div:nth-child(2) {
	width: 28px;
	height: 28px;
	border-color: transparent $blue-light transparent $blue-light;
	animation: lds-double-ring_reverse 1.6s linear infinite;
}
