.app {
	background: transparent;
}

.weather-app {
	min-height: rem(430);
	position: relative;
	flex-direction: column;

	&__hourly-wrapper {
		width: 100%;
	}

	&__current-wrapper {
		width: 100%;
		border-bottom: $border;
	}
}
